@import "./penpot.css";
@import "./range-input.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* Theme */
main[data-theme="light"] {
  --background-color: transparent;
  --text-color: #242424;
}

main[data-theme="dark"] {
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
}

main {
  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--spacing-8);
  width: 100%;
  max-width: 264px;
  margin: 0 auto;
}

/* Button styles */
button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  transition: box-shadow 0.2s ease;
}

button:focus {
  box-shadow: 0 0 0 0px var(--la-primary);
}

/* Canvas styles */
.canvas-container {
  position: relative;
  border-radius: var(--spacing-4);
  padding: 0;
  margin-bottom: var(--spacing-8);
  width: 100%;
}

canvas {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  display: block;
  border-radius: var(--spacing-4);
}

/* New noise button */
.new-noise-button {
  position: absolute;
  bottom: var(--spacing-4);
  right: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-4);
  width: auto;
  height: auto;
  background: var(--db-primary);
  border-radius: var(--spacing-4);
  opacity: 0.8;
  transition: opacity 0.2s ease;
  outline: none;
  border: none;
  box-shadow: none;
}

.new-noise-button:hover {
  opacity: 1;
}

.new-noise-button:focus,
.new-noise-button:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
